examples/data
**/__pycache__
.personal_README.md
**/.doctrees
.docstring_examples.py
.pypi_token
dist/
node_modules
**/playground
**/playground_*.ipynb
**/*checkpoint.ipynb
**/tmp
guides_tmp
.DS_Store
false/*
docs/build/*
benchmarks/